parameters:
    level: 8
    paths:
        - Classes
    excludePaths:
        - Classes/Application/Command/NodeTemplateCommandController.php
        - Classes/Domain/NodeTemplateDumper/NodeTemplateDumper.php
